<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="{{ base_path }}/assets/js/bootstrap.min.js"></script>
<script src="{{ base_path }}/assets/js/main.min.js"></script>
<script src="{{ base_path }}/assets/js/custom.js"></script>
<script type="text/javascript" src="js/ddaccordion.js"> -->

/***********************************************
* Accordion Content script- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* Visit http://www.dynamicDrive.com for hundreds of DHTML scripts
* This notice must stay intact for legal use
***********************************************/

</script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}
