// common style
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
    /* text-transform: uppercase; */
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
}
a:hover, a:focus {
    text-decoration: none;
    color: #668bdd;
}
.text-center {
    text-align: center;
}
.table-bordered {
    border: 1px solid #ddd;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
img {
    vertical-align: middle;
}
.row{
  display: flex;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    display: flex;
}
.row:before, .row:after {
    display: table;
    content: " ";
}
.row:after {
    clear:both;
}
.mb-15{
  margin-bottom: 15px;
}
.mb-0{
  margin-bottom: 0px;
}
.m-auto{
  margin: auto;
}
// Nave style
.masthead__menu-item:hover{
  background: #4967aa;
  border-radius: 4px;
  color:#ffffff;
}
.masthead__menu-item:hover a{
  color:#ffffff;
}
.masthead__menu-item a:hover {
  color:#ffffff;
}
.greedy-nav .visible-links a:hover:before{
  display: none;
}
//archive
.archive{
  width:100%;
  padding-left: 0px;
}
.wow.bounceInUp{
  width:100%;
}
.img-responsive{
  margin: auto;
  width:100%
}
// Team Iamge
.title{
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #4967aa;
}
.section-heading{
  color: #4967aa;
  text-align: center;
}
.team h5 {
    margin-bottom: 10px;
    color: #4967aa;
}
.col-md-3, .col-sm-3{
  width:25%;
  padding: 0px 10px;
}
.boxed-grey{
  background: #f9f9f9;
  padding: 20px;
  height: 100%;
}
.avatar{
  margin-bottom: 20px;
}
.team h5 {
    margin-bottom: 10px;
    color: #4967aa;
}
.team p.subtitle {
    margin-bottom: 0px;
}
.inner a{
  text-decoration: none;
}
.inner a:hover{
  text-decoration: none;
}
a.t-name{
  color: #4967aa;
}
.designation{
  text-align: center;
}
//awards Page
.lists{
  list-style: none;
}
.lists li {
    list-style: none;
    margin-bottom: 20px;
}
a, .tp-caption a.btn:hover {
    color: #4967aa;
}
