// common style
body{
  margin: 0;
  padding: 0;
  padding-bottom: 9em;
  color: #494e52;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  line-height: 1.5;
  font-size: 18px;
}
.empty_link{
  color:#db0000;
}
a.font-fff{
  color: #ffffff !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0em 0 0.5em;
    /* text-transform: uppercase; */
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
p {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 400;
}
a:hover, a:focus {
    text-decoration: none;
    color: #52adc8;
}
.text-center {
    text-align: center;
}
.table-bordered {
    border: 1px solid #ddd;
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
img {
    vertical-align: middle;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}

.mb-15{
  margin-bottom: 15px;
}
.mt-15{
  margin-top: 15px;
}
.mt-5{
  margin-top: 5px;
}
.mt-20{
  margin-top: 20px;
}
.mt-0{
  margin-top: 0px !important;
}
.mb-0{
  margin-bottom: 0px;
}
.m-auto{
  margin: auto;
}
.mb-20{
  margin-bottom: :20px;
}
.ml-0{
  margin-left: 0px;
}
.pl-0{
  padding-left: 0px;
}
.pr-50 {
  padding-right:50px;
}
.w-100{
  width:100% !important
}
.p-0{
  padding: 0px !important;
}
.m-0{
  margin: 0px !important
}

.icon-collapse{
  display: block;
  cursor: pointer;
}
.icon-collapse .fa{
  line-height: 30px;
}
.icon-collapse.collapsed .fa-minus {
  display:none;
}
.icon-collapse:not(.collapsed) .fa-minus {
  display:înline-block;
}
.icon-collapse:not(.collapsed) .fa-plus {
  display:none;
}
.word-break{
  word-break: break-all;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
#team .wow.bounceInUp.animated{
  height:100%;
}
.masthead__inner-wrap{
  max-width:100%;
}
#main{
  max-width:100%;
}
// Nave style
.masthead__inner-wrap{
  padding: 1em calc(1em + 15px) 1em;
}
.masthead__inner-wrapnav{
  padding: 0px 5px;
}

.masthead__menu-item.logo{
  max-width: 150px;
}
.masthead__menu ul.visible-link.lg{
      width: 100%;
      display: block;
}
.greedy-nav .visible-link a{
  position: relative;
  text-transform: capitalize;
  font-size: 13px;
  margin: 0 0.5rem;
}
.greedy-nav .visible-link a:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.greedy-nav .visible-link a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 4px;
    background: #bdc1c4;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}
.greedy-nav a:hover {
    color: #5c6266;
}
.flex{
  display: flex;
}
.masthead__menu ul div:last-child{
  height: 50px;
  line-height: 50px;
}
// .masthead__menu ul.visible-links{
//   margin: auto;
// }
// .masthead__menu-item:hover{
//   background: #4967aa;
//   border-radius: 4px;
//   color:#ffffff;
// }
// .masthead__menu-item:hover a{
//   color:#ffffff;
// }
// .masthead__menu-item a:hover {
//   color:#ffffff;
// }
// .greedy-nav .visible-links a:hover:before{
//   display: none;
// }
//archive
.archive,.page{
  width:100%;
  padding-left: 0px;
}
.page__title{
  margin: 0px;
}
.wow.bounceInUp{
  width:100%;
}
.img-responsive{
  margin: auto;
  width:100%
}
// Team Iamge
.title{
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #4967aa;
}
.section-heading{
  color: #4967aa;
  text-align: center;
}
.section-heading h2{
  color: #494e52;
  line-height: 1.2;
  font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  font-weight: bold;
}
.team h5 {
    margin-bottom: 10px;
    color: #52adc8;
}
.boxed-grey{
  background: #f9f9f9;
  padding: 20px;
  height: 100%;
}
.avatar{
  margin-bottom: 20px;
}
.team h5 {
    margin-bottom: 10px;
    color: #52adc8;
}
.team p.subtitle {
    margin-bottom: 0px;
}
.archive a:hover img {
  box-shadow: none;
}
a {
  text-decoration: none !important;
}
.team.boxed-grey.text-center:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.designation{
  text-align: center;
}
.team.boxed-grey.text-center:hover .tooltiptext{
  visibility: visible;
}
.team.boxed-grey.text-center {
  position: relative;
}

.team.boxed-grey.text-center .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 0%;
  top: -50px;
  display: block;
  height: fit-content;
  width: 100%;
}

.team.boxed-grey.text-center .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

// .team-des{
//   display: none;
// }
//awards Page
.lists{
  list-style: none;
}
.lists li {
    list-style: none;
    margin-bottom: 20px;
}

/*************************
********* Portfolio CSS ******
**************************/

#portfolio_page {
  margin-top: 115px;
  padding-bottom: 0;
}

.portfolio-items,
.portfolio-filter {
  list-style: none outside none;
  margin: 0 0 40px 0;
  padding: 0;
}

.portfolio-filter > li {
  display: inline-block;
}

.portfolio-filter > li a {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 20px;
  text-transform: uppercase;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
  border: 1px solid #F2F2F2;
  outline: none;
  border-radius: 3px;
}

.portfolio-filter > li a:hover,
.portfolio-filter > li a.active{
  color:#fff;
  background: #4867aa;
  border: 1px solid #4867aa;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-items > li {
  float: left;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.portfolio-item {
  margin: 0;
  padding:0;
  border-right:1px solid #f1f1f1;
  border-bottom:1px solid #f1f1f1;
}

/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
#recent-works .col-xs-12.col-sm-4.col-md-3{
  padding: 0;
}

#recent-works{
    padding-bottom: 70px;
}

.recent-work-wrap {
  position: relative;
}

.recent-work-wrap img{
  width: 100%;
}

.recent-work-wrap .recent-work-inner{
  top: 0;
  background: transparent;
  opacity: .8;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.recent-work-wrap .recent-work-inner h3{
  margin: 10px 0;
}

.recent-work-wrap .recent-work-inner h3 a{
  font-size: 24px;
  color: #fff;
  text-transform:none;
}

.recent-work-wrap .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 0;
  background: #4867aa;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  padding: 20px;
}

.recent-work-wrap .overlay .preview {
  bottom: 0;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  border-radius: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

.recent-work-wrap:hover .overlay {
  opacity: 1;
}
.accordion .accDetail{
  padding: 5px 0px;
}

.accordion h3.accHeader {
    background-color: #bdc1c4 !important;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    padding: 3px 10px;
    position: relative;
    margin-bottom: 5px;
    text-transform: uppercase;
    border-radius: 4px;
}

.accHeader {
    margin-bottom: 0px !important;
    margin-top: 30px !important;
}
.accHeader.mt-0{
  margin-top: 0px !important;
}
.accordion .accDetail {
    margin-bottom: 5px;
}
.company-social{
  list-style: none;
}
.company-social li{
  width: 30px;
  float: left;
  padding-top: 10px;
}
a, .tp-caption a.btn:hover, .tp-caption a#goog-wm-sb:hover{
  color:#52adc8 ;
}
p{
  font-size: 18px;
}
// Footer style
.page__footer-follow,
.page__footer-copyright{
  padding: 0px 15px;
}
.page__footer footer>a{
  padding: 0px 15px;
}
