// Nave style
.masthead__menu-item:hover{
  background: #4967aa;
  border-radius: 4pxl;
  color:#ffffff;
}
.greedy-nav .visible-links a:hover:before{
  display: none;
}
// Team Iamge
.avatar img{
  border-radius: 50%;
  border: 1px solid #929292;
  width:100%;
}
.avatar{
  width:25%;
  float: left;
  padding: 0px 5px;
}
.t-name{
  text-align: center;
  color: #668bdd;
  text-decoration: none;
}
